ion-title {
    text-align: center;
}

h2 {
    text-align: center;
}

.viajes {
    text-align: center;
}

.logout {
    text-align: center;
}

p {
    font-size: large;
    color: black;
}

.peticiones {
    text-align: center;
}

.confirmar {
    position: relative;
}

.denegar {
    position: relative;
    left: 30%;
}