<ion-header>
    <ion-toolbar>
        <ion-title>Historial Ride</ion-title>
    </ion-toolbar>
</ion-header>

<ion-button class="confirmar" color="success" (click)="dismiss()">Volver</ion-button>
<ion-content color="secondary">
    <ion-card *ngFor="let viaje1 of viajes">
        <ion-card-header color="light">
            <ion-card-title>Confirmado</ion-card-title>
            <p>ID Viaje: {{viaje1._id}}</p>
            <p>Tipo de Tarifa: {{viaje1.pago}}</p>
            <p>Ubicacion de Destino: {{viaje1.destino}}</p>
            <p>Ubicacion Actual: {{viaje1.actual}}</p>
            <p>Fecha/Hora: {{viaje1.created_at}}</p>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>