.mujer {
    background-color: #ff8476;
}

.hombre {
    background-color: #5292ff;
}

ion-title {
    text-align: center;
}

ion-card-title {
    color: #000000;
    font-size: large;
}

h2 {
    text-align: center;
}

.usuarios {
    color: black;
    font-size: large;
}

p {
    color: rgb(255, 251, 0);
    size: 200px;
}

.boton {
    text-align: center;
}