<ion-header>
    <img src="../../assets/img/uta2.png" class="imgUta">
</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
    <div>


        <div class="title">
            <p>RideUTA By UTAgs</p>
            <p>Conduce con Nosotros</p>
        </div>

        <div class="ion-margin-top">
            <ion-button expand="block" class="ion-margin-top" (click)="login()" color="warning">LOGIN</ion-button>
            <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="dark">SIGN UP</ion-button>

        </div>
    </div>
    <!-- <img src="../../assets/img/utags.png" class="logo" /> -->
</ion-content>